---
layout: default
title: Media Consumption
permalink: /consumption/
nav: nav.html
footer: footer.html
style: assets/css/consumption.css
---

<div class="jumbotron page-top">
    <div class="consumption-preamble">
        <h1 class="text-center">Media Consumption List</h1>
    </div>
    <div class="consumption-explanation">
        <p>What I have read, watched or played at any particular time in the past that I considered to be of note.</p>
        <p>If you are looking for my status log, click <a href="{{ '/log/' | relative_url }}">here</a>.</p>
    </div>
</div>

<div class="consumption-list full-res">
    <div class="row item title">
        <label class="col-12">Date of Viewing/Completion</label>
    </div>
    {% for item in site.data.consumption %}
        <div class="row item info {{ item.type }}" data-item-id="{{ forloop.index }}">
            <div class="col-2 date text-center">{{ item.completionDate }}</div>
            <div class="content col-lg-8 col-md-7 col-sm-6 col-5">
                <div class="row">
                    <div class="col-12 header">
                        <a href="{{ item.source }}" target="_blank">{{ item.title }}</a>
                        <sub>{{ item.sourceDateAndInfo }}</sub>
                    </div>
                </div>
                <hr>
                <div class="row explanation">
                    <div class="col-12">{{ item.explanation }}</div>
                </div>
            </div>
            <div class="col-2 image">
                <img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
            </div>
        </div>
    {% endfor %}
</div>

<div class="consumption-list mobile-res">
    {% for item in site.data.consumption %}
        <div class="mobile item info {{ item.type }}" data-item-id="{{ forloop.index }}">
            <div class="row">
                <div class="col-12 date text-center">{{ item.completionDate }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 header text-center">
                    <a href="{{ item.source }}" target="_blank">{{ item.title }}</a>
                </div>
                <div class="col-12 text-center">
                    <sub>{{ item.sourceDateAndInfo }}</sub>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 image text-center">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center explanation">
                    {{ item.explanation }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    let items = document.querySelectorAll('.full-res > .item.info');
    let mobileItems = document.querySelectorAll('.mobile-res > .item.info');
    //Amount of items grabbed per batch for infinite scrolling
    let batchSize = 100;
    let batchCount = 0;

    function renderNextBatch() {
        let startIndex = batchSize * batchCount;
        let endIndex = batchSize * (batchCount + 1);

        if (endIndex > items.length) {
            endIndex = items.length;
            window.removeEventListener('scroll', onScroll);
        }

        for (let i = startIndex; i < endIndex; i++) {
            items[i].classList.add('visible');
            items[i].classList.remove('hidden');
            mobileItems[i].classList.add('visible');
            mobileItems[i].classList.remove('hidden');
        }

        batchCount++;
    }

    function onScroll() {
        let scrollPosition = window.innerHeight + window.scrollY;
        let bodyHeight = document.body.offsetHeight;

        if (scrollPosition >= bodyHeight - 100) {
            renderNextBatch();
        }
    }

    // Hide all items after the 75th item initially
    for (let i = batchSize; i < items.length; i++) {
        if (!items[i].classList.contains('visible')){
            items[i].classList.add('hidden');
        }
    }

    for (let i = batchSize; i < mobileItems.length; i++) {
        if (!mobileItems[i].classList.contains('visible')){
            mobileItems[i].classList.add('hidden');
        }
    }

    renderNextBatch();
    window.addEventListener('scroll', onScroll);
  </script>  
    