---
layout: default
title: Games
nav: nav.html
footer: footer.html
style: assets/css/games.css
permalink: /games/
---
<div class="jumbotron page-top">
    <div class="games-preamble">
        <h1 class="text-center">Games</h1>
    </div>
    <div class="games-explanation">
        <p>These are games that I created with the Unity Game engine for a games development course or as personal projects in other engines.</p>
        <p>Note: Depending on the game, some games can take a long time to load due to the size of assets.</p>
    </div>
</div>
<div class="games-list">
    {% for game in site.data.games %}
        <div class="game {{ game.style }}">
            <div class="row">
                <div class="game-header col-6">{{ game.title }}</div>
                <a class="ml-auto play-now" href="{{ game.link | relative_url }}" target="_blank">Play Now</a>
            </div>
            <div class="row screenshots">
                {% for image in game.images %}
                    <img class="col-md-{{ 12 | divided_by: game.images.size }} col-12" src="{{ image.src | relative_url }}">
                {% endfor %}
            </div>
            <div class="row explanation">
                <div class="col-10">
                    {{ game.explanation }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>