---
layout: default
title: Games
nav: nav.html
footer: footer.html
style: src/styles/games.css
---
<div class="jumbotron page-top">
    <div class="games-preamble">
        <h1 class="text-center">Games</h1>
    </div>
    <div class="games-explanation">
        <p>These are games that I created with the Unity Game engine for a games development course.</p>
        <p>Note: Games can take a long time to load due to the size of assets.</p>
    </div>
</div>
<div class="games-list">
    {% for game in site.data.games %}
        <div class="game {{ game.style }}">
            <div class="row">
                <div class="game-header col-xs-6">{{ game.title }}</div>
                <a class="play-now" href="{{ game.link | relative_url }}">Play Now</a>
            </div>
            <div class="row screenshots">
                {% for image in game.images %}
                    <img class="col-xs-{{ 12 | divided_by: game.images.size }}" src="{{ image.src | relative_url }}">
                {% endfor %}
            </div>
            <div class="row explanation">
                <div class="col-xs-10">
                    {{ game.explanation }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>