<section id="intro">
    <div class="row">
        <div class="col-xs-12">
            <p>Software Engineer currently working at Thomson Reuters.</p>
            <p>Completed bachelors at University of Michigan Ann Arbor with a Bachelors of Science in Computer Science with a degree in Asian Languages and Cultures specializing in Japanese language.</p>
        </div>
    </div>
</section>
<section id="university">
    <div class="row">

    </div>
</section>
<section id="perficient">
    <div class="row">

    </div>
</section>
<section id="nihonsoft">
    <div class="row">

    </div>
</section>
<section id="sony">
    <div class="row">

    </div>
</section>
<section id="thomson-reuters">
    <div class="row">

    </div>
</section>
<section id="interests">
    <div id="film">
        <div class="row">

        </div>
    </div>
    <div id="guitar">
        <div class="row">

        </div>
    </div>
    <div id="dance">
        <div class="row">

        </div>
    </div>
    <div id="globalization">
        <div class="row">

        </div>
    </div>
</section>
<section id="philosophy">
    <div class="row">

    </div>
</section>