<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="consumption-preamble">
        <h1 class="text-center">Media Consumption List</h1>
    </div>
    <div class="consumption-explanation">
        <p>What I have read, watched or played at any particular time in the past that I considered to be of note.</p>
    </div>
</div>
<div class="consumption-list">
    <!-- How AI can save our humanity | Kai-Fu Lee -->
    <div class="row item video">
        <div class="col-xs-2 date text-center">
            Nov 3, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.youtube.com/watch?v=ajGgd9Ld-Wc" target="_blank">How AI can save our humanity | Kai-Fu Lee</a>
                    <sub>Aug 27, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Provides some of the same information about AI you might see in other videos, but this provides a more nuanced blueprint in regards to how jobs may change over time.
                        It also offers some insight into the Chinese tech industry and how technology augments life in China differently from the U.S.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://i.ytimg.com/vi/ajGgd9Ld-Wc/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDOea_oqMlb07fJzD5e7xmYuwwVZA">
        </div>
    </div>
    <!-- Battle of Algiers -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Oct 28, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt0058946/?ref_=nv_sr_1" target="_blank">The Battle of Algiers</a>
                    <sub>Sept 20, 1967</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> An important film that shows both sides of the war. It is also a great representation of how a guerilla resistance can be maintained and organized.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BYzliNzI5NzgtNDZmNy00NGU4LTg2OTQtMDEzZTRiNDU3ZTI1XkEyXkFqcGdeQXVyMDUyOTUyNQ@@._V1_UY268_CR7,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- On Writing -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            Oct 25, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/10569.On_Writing" target="_blank">On Writing: A Memoir of the Craft </a>
                    <sub>Stephen King, Jul 2002</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>A combination of autobiography and advice for writers. Stephen King splits up the craft into easily digestible sections. The only thing I disagreed with was his outlook on plot.
                        As someone who loves film, it was disappointing to see such a limited perspective on plot construction.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1436735207l/10569.jpg">
        </div>
    </div>
    <!-- SIGGRAPH 2018- NVIDIA -->
    <div class="row item video">
        <div class="col-xs-2 date text-center">
            Aug 15, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.youtube.com/watch?v=jY28N0kv7Pk" target="_blank">SIGGRAPH 2018 - NVIDIA CEO Jensen Huang - Reinventing Computer Graphics </a>
                    <sub>Aug 14, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Scalable and accurate simulation of light within a virtual environment. If the technology continues at the same pace, we'll hopefully have photorealistic computer graphics in films within 5 years and the same for video games within 10-15 years.
                        This will allow for the immersive nature of VR and AR to increase tremendously. Now, all we need are sophisticated haptic feedback systems or neural links to allow for better interaction with the virtual environments.
                        That said, I would have liked to have seen some info about graphics cards for consumers. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://i.ytimg.com/vi/jY28N0kv7Pk/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAbmPsXEEGl_ZubLlGVhj78TNOmoA">
        </div>
    </div>
    <!-- Lucid Dreaming: A concise guide -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            Jun 4, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/15951456-lucid-dreaming?ac=1&from_search=true" target="_blank">Lucid Dreaming: A Concise Guide to Awakening in Your Dreams and in Your Life</a>
                    <sub>Stephen LaBerge, Apr 1, 1985</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>A good introduction to how to get started with lucid dreaming. Although it is older compared to other works in the field, it provides the basics needed. I intend to eventually use the techniques detailed here to experiment with lucid dreaming.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1346454281l/15951456.jpg">
        </div>
    </div>
    <!-- Leon the Professional -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Jun 3, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt0110413/?ref_=nv_sr_1" target="_blank">Léon: The Professional</a>
                    <sub>Nov 18, 1994</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Directed by Luc Besson. The camera work was great and every image seemed deliberate. The only film I've seen starring Jean Reno. His presence really sold Leon as a character to me.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BZDAwYTlhMDEtNTg0OS00NDY2LWJjOWItNWY3YTZkM2UxYzUzXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY268_CR4,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Halo Combat Evolved-->
    <div class="row item game">
        <div class="col-xs-2 date text-center">
            Jun 1, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://en.wikipedia.org/wiki/Halo:_Combat_Evolved" target="_blank">Halo: Combat Evolved</a>
                    <sub>Nov 15, 2001</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>I can see why this is considered one of the best first person shooters ever made.
                        The story mode has a good difficulty progression. The music is memorable, and Master Chief is a great protagonist.
                        For a game that is over 17 years old, it does not feel old at all.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://upload.wikimedia.org/wikipedia/en/8/80/Halo_-_Combat_Evolved_%28XBox_version_-_box_art%29.jpg">
        </div>
    </div>
    <!-- The Art of Risk-->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            May 31, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/25489179-the-art-of-risk" target="_blank">The Art of Risk: The New Science of Courage, Caution, and Chance </a>
                    <sub>Kayt Sukel, Mar 1, 2016</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> A non fiction book that outlines the advantages and consequences of risk taking behavior.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1444613736l/25489179.jpg">
        </div>
    </div>
    <!-- The Legend of Zelda Ocarina of Time-->
    <div class="row item game">
        <div class="col-xs-2 date text-center">
            May 28, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://en.wikipedia.org/wiki/The_Legend_of_Zelda:_Ocarina_of_Time" target="_blank">The Legend of Zelda: Ocarina of Time </a>
                    <sub>Nov 23, 1998</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> I played the gamecube version of this on the dolphin emulator with a 3rd party xbox controller formatted like a ps4 controller.
                        It is easy to tell why this is one of the greatest games ever made.
                        In addition to bringing the Zelda franchise into the 3rd dimension, this game boasts great level design, and finely tuned controls.
                        The music is iconic, and the characters are memorable. This game has aged well.
                        It appeals to players of all ages and backgrounds, and has something to offer to anyone who picks up the controller and gives it a go.
                        The playtime is over 30 hours, so you won't need to worry about it ending too soon.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/The_Legend_of_Zelda_Ocarina_of_Time_box_art.png/330px-The_Legend_of_Zelda_Ocarina_of_Time_box_art.png">
        </div>
    </div>
    <!-- The Shape of Water-->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 26, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt4154756/?ref_=nv_sr_1" target="_blank">The Shape of Water</a>
                    <sub>Dec 22, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> A film by Guillermo Del Toro. If I were to describe it, I would say that it is like a cross between Pan's Labyrinth and Amélie.
                        It had the feeling of a fairy tale meant for adults.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BNGNiNWQ5M2MtNGI0OC00MDA2LWI5NzEtMmZiYjVjMDEyOWYzXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Avengers Infinity War -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 14, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt4154756/?ref_=nv_sr_1" target="_blank">Avengers Infinity War</a>
                    <sub>Apr 27, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Watched in Imax. A film that is the culmination of three phases of films in the Marvel cinematic universe.
                        Although it may be lacking in story, it more than makes up for it with its scale and the ambitious plot that brings together all of the characters in the marvel universe.
                        In addition to this, it finally brings Thanos to the forefront and provides him with greater depth than he had in the comics. I saw the first Avengers film when I was in high school, so the payoff was particularly rewarding to me.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Get Out -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 13, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt5052448/?ref_=fn_al_tt_1" target="_blank">Get Out</a>
                    <sub>Feb 24, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>A film that offers subtle commentary on race relations. If you were to ignore the undertones, you will find that it is still a solid horror film.
                        There are many details hidden throughout, so I recommend multiple viewings.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjUxMDQwNjcyNl5BMl5BanBnXkFtZTgwNzcwMzc0MTI@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Zero to One -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            May 13, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/18050143-zero-to-one?from_search=true" target="_blank">Zero to One: Notes on Startups, or How to Build the Future</a>
                    <sub>Peter Thiel, Blake Masters, Sept 16, 2014</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>Details the challenges and what must be prioritized when starting a startup. I recommend watching the CS183B Stanford lectures after completing this.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1414347376l/18050143.jpg">
        </div>
    </div>
    <!-- La La Land -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 6, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt3783958/" target="_blank">La La Land</a>
                    <sub>Dec 25, 2016</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Damien Chazelle delivers just like he did in Whiplash. The songs are catchy and they stick in your head days after you finish the movie.
                        Gosling's piano skills were extremely impressive and the absence of a hand double only added to its quality.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMzUzNDM2NzM2MV5BMl5BanBnXkFtZTgwNTM3NTg4OTE@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Level Up -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            May 4, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/24615920-level-up-your-life?from_search=true" target="_blank">Level Up Your Life: How to Unlock Adventure and Happiness by Becoming the Hero of Your Own Story </a>
                    <sub>Steve Kamb, Jan 12, 2016</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> A well organized book about the advantages of gamification for acquiring skills and accomplishing goals.
                        It also manages to effectively explain why risks are a necessary part of the hero's journey.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1445191285l/24615920.jpg">
        </div>
    </div>
    <!-- Crumb -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Apr 28, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt0109508/?ref_=nv_sr_1" target="_blank">Crumb</a>
                    <sub>April 28, 1995</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> An interesting documentary about the cartoonist Robert Crumb.
                        Although it wasn't my cup of tea, I appreciated the how deeply the cartoonist's past and his relationship with his family was explored.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAzMzEzNzYzNV5BMl5BanBnXkFtZTcwNzQ1NzE1Mw@@._V1_.jpg">
        </div>
    </div>
    <!-- Falcon Heavy Launch -->
    <div class="row item video">
        <div class="col-xs-2 date text-center">
            Feb 6, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.youtube.com/watch?v=wbSwFU6tY1c" target="_blank">Falcon Heavy Test Flight</a>
                    <sub>Feb 6, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> One of the most memorable events of the year. I never thought the rocket would successfully take off. The climax was the simultaneous landing of the side boosters.
                        It would have been nice to see the center core land on the droneship, but 2/3 is still great. The shot of starman floating off into space was a good touch.
                        Space x's have been continuously getting better over the years and this launch proved that they could not only nail the launch, but the telemetry as well.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://i.ytimg.com/vi/wbSwFU6tY1c/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLC4pvZ7A0xKFwaAxNMgM31lCrM7Ww">
        </div>
    </div>
    <!-- Dunkirk -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Dec 9, 2017
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt5013056/?ref_=nv_sr_1" target="_blank">Dunkirk</a>
                    <sub>July 21, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Saw this in imax. Great film. Although this was not my favorite Nolan film, it easily is one of the most well made among his works.
                        The shots of the fighter planes were the most technical and impressive scenes in the film. Hans Zimmer's usage of the Shepard's tone could have been more emphasized.
                        I actually did not realize that a Shepard's tone was used until looking it up after the fact. Because of how drawn out the auditory illusion was, in many cases, it felt as if the effect of the illusion was diminished.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BN2YyZjQ0NTEtNzU5MS00NGZkLTg0MTEtYzJmMWY3MWRhZjM2XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Blade Runner 2049 -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Oct 8, 2017
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt1856101/?ref_=fn_al_tt_4" target="_blank">Blade Runner 2049</a>
                    <sub>Oct 6, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Saw this in imax. An underrated film; just as great as the first.
                        The sound engineering was incredible and allowed for the audience to feel the sound instead of simply hearing it. This is a movie that sticks in your head days after you see it.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Making Life Multiplanetary  -->
    <div class="row item video">
        <div class="col-xs-2 date text-center">
            Sep 29, 2017
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.youtube.com/watch?v=tdUX3ypDVwI" target="_blank">Making Life Multiplanetary</a>
                    <sub>Sep 29, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Introduced a more realistic rendering of BFR. Also elaborated on how to improve the profitability of the new architecture.
                        Although earth to earth travel was hinted at in the 2016 IAC presentation, we were provided with more of an explanation on how it would work in this update.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://i.ytimg.com/vi/H7Uyfqi_TE8/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBGiSEDeDs6G_YBNvseJCYgCpRXoA">
        </div>
    </div>
</div>