<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="consumption-preamble">
        <h1 class="text-center">Media Consumption List</h1>
    </div>
    <div class="consumption-explanation">
        <p>What I have read, watched or played at any particular time in the past that I considered to be of note.</p>
    </div>
</div>
<div class="consumption-list">
    <!-- Avengers Infinity War -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 14, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt4154756/?ref_=nv_sr_1" target="_blank">Avengers Infinity War</a>
                    <sub>Apr 27, 2018</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Watched in Imax. A film that is the culmination of three phases of films in the Marvel cinematic universe.
                        Although it may be lacking in story, it more than makes up for it with its scale and the ambitious plot that brings together all of the characters in the marvel universe.
                        In addition to this, it finally brings Thanos to the forefront and provides him with greater depth than he had in the comics.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Get Out -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 13, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt5052448/?ref_=fn_al_tt_1" target="_blank">Get Out</a>
                    <sub>Feb 24, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>A film that offers subtle commentary on race relations. If you were to ignore the undertones, you will find that it is still a solid horror film.
                        There are many details hidden throughout, so I recommend multiple viewings.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjUxMDQwNjcyNl5BMl5BanBnXkFtZTgwNzcwMzc0MTI@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Zero to One -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            May 13, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/18050143-zero-to-one?from_search=true" target="_blank">Zero to One: Notes on Startups, or How to Build the Future</a>
                    <sub>Peter Thiel, Blake Masters, Sept 16, 2014</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p>Details the challenges and what must be prioritized when starting a startup. I recommend watching the CS183B Stanford lectures after completing this.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1414347376l/18050143.jpg">
        </div>
    </div>
    <!-- La La Land -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            May 6, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt3783958/" target="_blank">La La Land</a>
                    <sub>Dec 25, 2016</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Damien Chazelle delivers just like he did in Whiplash. The songs are catchy and they stick in your head days after you finish the movie.
                        Gosling's piano skills were extremely impressive and the absence of a hand double only added to its quality.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMzUzNDM2NzM2MV5BMl5BanBnXkFtZTgwNTM3NTg4OTE@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Level Up -->
    <div class="row item book">
        <div class="col-xs-2 date text-center">
            May 4, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.goodreads.com/book/show/24615920-level-up-your-life?from_search=true" target="_blank">Level Up Your Life: How to Unlock Adventure and Happiness by Becoming the Hero of Your Own Story </a>
                    <sub>Steve Kamb, Jan 12, 2016</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> A well organized book about the advantages of gamification for acquiring skills and accomplishing goals.
                        It also manages to effectively explain why risks are a necessary part of the hero's journey.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://images.gr-assets.com/books/1445191285l/24615920.jpg">
        </div>
    </div>
    <!-- Crumb -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Apr 28, 2018
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt0109508/?ref_=nv_sr_1" target="_blank">Crumb</a>
                    <sub>April 28, 1995</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> An interesting documentary about the cartoonist Robert Crumb.
                        Although it wasn't my cup of tea, I appreciated the how deeply the cartoonist's past and his relationship with his family was explored.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAzMzEzNzYzNV5BMl5BanBnXkFtZTcwNzQ1NzE1Mw@@._V1_.jpg">
        </div>
    </div>
    <!-- Dunkirk -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Dec 9, 2017
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt5013056/?ref_=nv_sr_1" target="_blank">Dunkirk</a>
                    <sub>July 21, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Saw this in imax. Great film. Although this was not my favorite Nolan film, it easily is one of the most well made among his works.
                        The shots of the fighter planes were the most technical and impressive scenes in the film. Hans Zimmer's usage of the Shepard's tone could have been more emphasized.
                        I actually did not realize that a Shepard's tone was used until looking it up after the fact. Because of how drawn out the auditory illusion was, in many cases, it felt as if the effect of the illusion was diminished.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BN2YyZjQ0NTEtNzU5MS00NGZkLTg0MTEtYzJmMWY3MWRhZjM2XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
    <!-- Blade Runner 2049 -->
    <div class="row item movie">
        <div class="col-xs-2 date text-center">
            Oct 8, 2017
        </div>
        <div class="content col-lg-8 col-md-7 col-sm-6 col-xs-5">
            <div class="row">
                <div class="col-xs-12 header">
                    <a href="https://www.imdb.com/title/tt1856101/?ref_=fn_al_tt_4" target="_blank">Blade Runner 2049</a>
                    <sub>Oct 6, 2017</sub>
                </div>
            </div>
            <hr>
            <div class="row explanation">
                <div class="col-xs-12">
                    <p> Saw this in imax. An underrated film; just as great as the first.
                        The sound engineering was incredible and allowed for the audience to feel the sound instead of simply hearing it. This is a movie that sticks in your head days after you see it.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-2 image">
            <img src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_UX182_CR0,0,182,268_AL_.jpg">
        </div>
    </div>
</div>