<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="contact-preamble">
        <h1 class="text-center">Avenues for Contact</h1>
    </div>
    <div class="contact-explanation">
        <p>Where you can find me.</p>
    </div>
</div>
<div class="row bright contact-section">
    <a href="mailto:asarav@umich.edu">Email</a>
</div>
<div class="row dark contact-section">
    <a href="https://github.com/asarav" target="_blank">Github</a>
</div>
<div class="row bright contact-section">
    <a href="https://www.linkedin.com/in/avinash-saravanan-profile/" target="_blank">LinkedIn</a>
</div>
<div class="row dark contact-section">
    <a href="https://www.hackerrank.com/asarav?hr_r=1" target="_blank">Hackerrank</a>
</div>
