<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="contact-preamble">
        <h1 class="text-center">Avenues for Contact</h1>
    </div>
    <div class="contact-explanation">
        <p>Where you can find me.</p>
    </div>
</div>
<a class="row bright contact-section" href="mailto:asarav@umich.edu">
    Email
</a>
<a class="row dark contact-section" href="https://github.com/asarav" target="_blank">
    Github
</a>
<a class="row bright contact-section" href="https://www.linkedin.com/in/avinash-saravanan-profile/" target="_blank">
    LinkedIn
</a>
<a class="row dark contact-section" href="https://www.hackerrank.com/asarav?hr_r=1" target="_blank">
    Hackerrank
</a>
<div class="row dark contact-section">
    If you wish to contact me for consulting, web development, translations, etc., email is the most preferred method.
</div>
