<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<footer class="footer">
    <!-- Footer Contents -->
    <div class="container-fluid">
        <!-- Grid row -->
        <div class="row text-center">
            <div class="col-xs-8">Copyright © 2018. All rights reseved.</div>
            <div class="col-xs-2" id="linkedIn"><a href="" data-toggle="tooltip" title="LinkedIn"><img src="src/assets/linkedin-in-for-screen/LinkedIn_in_for_Screen/2-Color/In-2C-21px-R.png"></a></div>
            <div class="col-xs-2" id="github"><a href="https://github.com/asarav" data-toggle="tooltip" title="Github"><img src="src/assets/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-32px.png"></a></div>
        </div>
    </div>
</footer>