<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<footer class="footer">
    <!-- Footer Contents -->
    <div class="container-fluid">
        <!-- Grid row -->
        <div class="row text-center">
            <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">Copyright © 2018. All rights reseved.</div>
            <div class="col-lg-1 col-md-2">
                <a href="https://www.linkedin.com/in/avinash-saravanan-profile/" data-toggle="tooltip" title="LinkedIn" target="_blank">
                    <img src="src/assets/linkedin-in-for-screen/LinkedIn_in_for_Screen/2-Color/In-2C-21px-R.png" height="20" width="30">
                </a>
                <a href="https://github.com/asarav" data-toggle="tooltip" title="Github" target="_blank">
                    <img src="src/assets/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-32px.png" height="22" width="22">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- TODO: Move this script to a file -->
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

