<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="games-preamble">
    <h1 class="text-center">Games I developed in Unity</h1>
</div>
<div class="games-explanation">
    <p>These are games that I created with the Unity Game engine for a games development course.</p>
</div>
<div class="games-list">
    <ul>
        <li>
            <a href="src/games/Apple Picker Prototype/index.html">Apple Picker Prototype</a>
        </li>
        <li>
            <a href="src/games/Space SHMUP Prototype/index.html">Space SHMUP Prototype</a>
        </li>
        <li>
            <p>Note: This game was created with an older version of unity, and as a result, some of the effects like the fog do not render properly.</p>
            <a href="src/games/Commuter North/index.html">Commuter North</a>
        </li>
        <li>
            <a href="src/games/Switcheroo/index.html">Switcheroo</a>
        </li>
        <li>
            <p>Note: To run the unity web player, you must be using Internet Explorer 11 and allow blocked content.</p>
            <a href="src/games/Rebel Knight/Rebel Knight.html">Rebel Knight</a>
        </li>
    </ul>
</div>