<!-- <base href="https://asarav.github.io/" /> -->
<base href="http://localhost/asarav.github.io/" />
<div class="jumbotron home-top">
    <div class="games-preamble">
        <h1 class="text-center">Games I developed in Unity</h1>
    </div>
    <div class="games-explanation">
        <p>These are games that I created with the Unity Game engine for a games development course.</p>
    </div>
</div>
<div class="games-list">
    <div class="game light">
        <div class="row">
            <div class="game-header col-xs-4">Apple Picker Prototype</div>
            <a class="play-now" href="src/games/Apple_Picker_Prototype/index.html">Play Now</a>
        </div>
        <div class="row screenshots">
            <img class="col-xs-6" src="src/games/Apple_Picker_Prototype/Screenshots/Capture.PNG">
            <img class="col-xs-6" src="src/games/Apple_Picker_Prototype/Screenshots/Capture 2.PNG">
        </div>
        <div class="row explanation">
            <div class="col-xs-10">
                <p>A game that I created to teach myself the basics of Unity</p>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="src/games/Space_SHMUP_Prototype/index.html">Space SHMUP Prototype</a>
        </li>
        <li>
            <p>Note: This game was created with an older version of unity, and as a result, some of the effects like the fog do not render properly.</p>
            <a href="src/games/Commuter_North/index.html">Commuter North</a>
        </li>
        <li>
            <a href="src/games/Switcheroo/index.html">Switcheroo</a>
        </li>
        <li>
            <p>Note: To run the unity web player, you must be using Internet Explorer 11 and allow blocked content.</p>
            <a href="src/games/Rebel_Knight/Rebel_Knight.html">Rebel Knight</a>
        </li>
    </ul>
</div>