<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="games-preamble">
    <h1 class="text-center">Games I developed in Unity</h1>
</div>
<p>Note: To run the unity web player, you must be using Internet Explorer 11 and allow blocked content.</p>
<div class="games-list">
    <ul>
        <li>
            <a href="">Apple Picker Prototype</a>
        </li>
        <li>
            <a href="">Space SHMUP Prototype</a>
        </li>
        <li>
            <a href="">Commuter North</a>
        </li>
        <li>
            <a href="">Switcheroo</a>
        </li>
        <li>
            <a href="">Rebel Knight</a>
        </li>
    </ul>
</div>