<!-- Implement minimalist navigation panel -->
<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="row home-top">
    <h1>Avinash Saravanan</h1>
    <p>Software Engineer</p>
    <div class="col-xs-12 under-construction"></div>
</div>
<div class="row tile-list">
    <a class="col-xs-6 tile games-tile" href="src/html/games.html">
        <label>Games</label>
    </a>
    <a class="col-xs-6 tile contact-tile" href="src/html/contact.html">
        <label>Contact Me</label>
    </a>
</div>