<!-- Implement minimalist navigation panel -->
<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron home-top">
    <h1>Avinash Saravanan</h1>
    <p>Software Engineer</p>
    <p>This website is still under construction</p>
</div>
<div class="tile-list">
    <div class="row">
        <a class="col-xs-6 tile games-tile" href="src/html/games.html">
            <div class="tile-content">
                <label>Games</label>
                <div class="tile-explanation">
                    <p>Games and Prototypes I have developed.</p>
                </div>
            </div>
        </a>
        <a class="col-xs-6 tile contact-tile" href="src/html/contact.html">
            <div class="tile-content">
                <label>Contact Me</label>
                <div class="tile-explanation">
                    <p>Avenues for Contact</p>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <a class="col-xs-6 tile about-tile" href="src/html/about-me.html">
            <div class="tile-content">
                <label>About Me</label>
                <div class="tile-explanation">
                    <p>Who I am. What I do. Modus operandi.</p>
                </div>
            </div>
        </a>
    </div>
</div>