<div class="jumbotron page-top">
    <div class="music-preamble">
        <h1 class="text-center">Music</h1>
    </div>
    <div class="music-explanation">
        <p>Music that I have composed in fl studio.</p>
        <p>For browser compatibility, all tracks are in the mp3 format.</p>
    </div>
</div>
<div class="music-list">
    <div class="song">
        <div class="row audio">
            <audio controls>
                <source src="https://asarav.github.io/src/music/Music Signature.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="row song-explanation">
    
        </div>
    </div>
    <div class="song">
        <div class="row audio">
            <audio controls>
                <source src="https://asarav.github.io/src/music/Robocopter v1.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="row song-explanation">
    
        </div>
    </div>
    <div class="song">
        <div class="row audio">
            <audio controls>
                <source src="https://asarav.github.io/src/music/The Plains of LEO.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="row song-explanation">
    
        </div>
    </div>
</div>