<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="projects-preamble">
        <h1 class="text-center">Projects</h1>
    </div>
    <div class="projects-explanation">
        <p>These are projects that I have either completed for a class or on my own time.</p>
    </div>
</div>
<section id="genetic-algorithm">
    <div class="row">
        <h1>Genetic Algorithm</h1>
    </div>
    <div class="row">
        <p>A project I worked on for Intro to AI at University of Michigan. What I tried to do was create a python impelmentation of <a href="https://rogerjohansson.blog/2008/12/07/genetic-programming-evolution-of-mona-lisa/" target="_blank">Roger Johansson's polygonal approximation program.</a></p>
    </div>
</section>