<base href="https://asarav.github.io/" />
<!-- <base href="http://localhost/asarav.github.io/" /> -->
<div class="jumbotron page-top">
    <div class="projects-preamble">
        <h1 class="text-center">Projects</h1>
    </div>
    <div class="projects-explanation">
        <p>These are projects that I have either completed for a class or on my own time.</p>
    </div>
</div>
<section id="genetic-algorithm">
    <div class="row">
        <h1 class="col-xs-12">Genetic Algorithm</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>A project I worked on for Intro to AI at University of Michigan.</p>
            <p>What I tried to do was create a python impelmentation of <a href="https://rogerjohansson.blog/2008/12/07/genetic-programming-evolution-of-mona-lisa/" target="_blank">Roger Johansson's polygonal approximation program.</a></p>
        </div>
    </div>
    <div class="row">
        <p class="col-xs-12">The program will receive an image as input. It will then try to approximate the image using a limited number of polygons.
        In the case of my implementation, I used 100 polygons instead of the 50 used in Roger Johansson's program.
        A genetic algorithm essentially immitates evolution. Each "generation" in the program represents a set of polygons with different colors, alpha values, and dimensions.
        This set is then filtered down to the top performing individuals within the generation. In this case, the top performing individuals represent the images that are most like the image provided as input.
        For every generation, I perform two operations that introduce diversity within the population. The first is the introduction of random mutations that will slightly modify the color, alpha values and dimension of individuals.
        The next operation is reproduction. I create the individuals who will form the next generation by taking half the traits from a high performing individual and taking half of the traits from another highly fit individual from the previous generation.
        This process continues for a certain number of generations (iterations). Eventually, the generated image will fall into a local maximum and stagnate at that maximum.
    </div>
    <table>
        <tr>
            <th>Ground Truth</th>
            <th>Evolution Process (Animated Gif)</th>
            <th>Final Image</th>
        </tr>
        <tr>
            <td><img src="src/images/genetic_algorithm_project/darwin.jpg"></td>
            <td><img src="src/images/genetic_algorithm_project/Darwin.gif"></td>
            <td><img src="src/images/genetic_algorithm_project/darwin-last.png"></td>
        </tr>
        <tr>
            <td><img src="src/images/genetic_algorithm_project/ferrari.jpg"></td>
            <td><img src="src/images/genetic_algorithm_project/Ferrari.gif"></td>
            <td><img src="src/images/genetic_algorithm_project/ferrari-last.png"></td>
        </tr>
        <tr>
            <td><img src="src/images/genetic_algorithm_project/hal9000.jpg"></td>
            <td><img src="src/images/genetic_algorithm_project/Hal 9000.gif"></td>
            <td><img src="src/images/genetic_algorithm_project/hal9000-last.png"></td>
        </tr>
    </table>
</section>
<section id="user-styles">
    <div class="row">
        <h1 class="col-xs-12">User Styles</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>A collection of custom stylings for many different websites that can be used through an extension like Stylus or Stylish.</p>
        </div>
    </div>
</section>