<nav id="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ '#' | relative_url }}">
                asarav
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a id="games-nav" href="{{ 'src/html/games.html' | relative_url }}">Games</a>
                </li>
                <li>
                    <a id="projects-nav" href="{{ 'src/html/projects.html' | relative_url }}">Projects</a>    
                </li>
                <li>
                    <a id="music" href="{{ 'src/html/music.html' | relative_url }}">Music</a>
                </li>
                <li>
                    <a id="about" href="{{ 'src/html/consumption.html' | relative_url }}">Media Consumption List</a>    
                </li>
                <li>
                    <a id="about" href="{{ 'src/html/about-me.html' | relative_url }}">About Me</a>
                </li>
                <li>
                    <a id="contact-nav" href="{{ 'src/html/contact.html' | relative_url }}">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>