#site {
  background: #1e1e1f;
  margin-bottom: 30px;
}
#site #content section {
  font-size: 18px;
  margin-bottom: 25px;
}
#site #content section .heading {
  font-size: 24px;
  color: orange;
}
#site #content section p {
  margin-left: 15px;
}
#site #content section .rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
