#site {
  background: #1e1e1f;
}
#site #content {
  color: white;
  margin-bottom: 30px;
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/media/media-top.jpg');
  height: 350px;
}
#site #content .consumption-list .item {
  border: 4px solid #063870;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#site #content .consumption-list .item .date {
  font-size: 20px;
  margin-top: 85px;
}
#site #content .consumption-list .item .content {
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 217px;
}
@media only screen and (max-width: 1100px) {
  #site #content .consumption-list .item .content {
    height: 250px;
  }
}
@media only screen and (max-width: 900px) {
  #site #content .consumption-list .item .content {
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  #site #content .consumption-list .item .content {
    height: 350px;
  }
}
#site #content .consumption-list .item .content .header a {
  font-size: 22px;
}
#site #content .consumption-list .item .content .header sub {
  margin-left: 15px;
}
#site #content .consumption-list .item .content .explanation {
  font-size: 14px;
}
#site #content .consumption-list .item .image img {
  max-height: 217px;
}
@media only screen and (max-width: 1920px) {
  #site #content .consumption-list .item .image img {
    margin-left: 17%;
  }
}
@media only screen and (max-width: 1600px) {
  #site #content .consumption-list .item .image img {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 1100px) {
  #site #content .consumption-list .item .image img {
    margin-left: 38%;
  }
}
@media only screen and (max-width: 768px) {
  #site #content .consumption-list .item .image img {
    margin-left: 48%;
  }
}
