#site {
    background-image: linear-gradient(to right, rgb(30, 30, 31), rgb(43, 43, 44), rgb(8, 2, 41) );
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/contact/contact-top.jpg');
            height: 350px;
            .contact-preamble {

            }
            .contact-explanation {
    
            }
        }
        .bright {
            background: rgb(18, 40, 65);
        }
        .contact-section {
            height: 200px;
            font-size: 24px;
        }
    }
}