#site {
  background-image: linear-gradient(to right, #1e1e1f, #2b2b2c, #080229);
}
#site #content {
  color: white;
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/contact/contact-top.jpg');
  height: 350px;
}
#site #content .bright {
  background: #122841;
}
#site #content .contact-section {
  height: 200px;
  font-size: 24px;
}
