#site {
  background: #1e1e1f;
}
#site #content {
  color: white;
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/contact/contact-top.jpg');
  height: 350px;
}
#site #content .bright {
  background: #122841;
}
#site #content .contact-section {
  height: 150px;
  font-size: 24px;
}
