#site {
    #content {
        .games-preamble {

        }
        .games-explanation {

        }
        .games-list {
            .game {
                border: solid 5px black;
                border-radius: 2px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                &.light {
                    background-image: url('https://asarav.github.io/src/images/games/game-background-light.jpg');
                }
                &.medium-light {
                    background-image: url('https://asarav.github.io/src/images/games/game-background-medium-light.jpg');
                }
                .screenshots {
                    img {
                        height: 200px;
                    }
                }
            }
        }
    }
}