#site {
  background-image: linear-gradient(to right, #1e1e1f, #2b2b2c, #080229);
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/games/games-top.jpg');
  height: 350px;
}
#site #content .games-list .game {
  border: solid 5px black;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  background-size: 100% 100%;
}
#site #content .games-list .game.light {
  background-image: url('https://asarav.github.io/src/images/games/game-background-light.jpg');
}
#site #content .games-list .game.medium-light {
  background-image: url('https://asarav.github.io/src/images/games/game-background-medium-light.jpg');
}
#site #content .games-list .game.medium-dark {
  background-image: url('https://asarav.github.io/src/images/games/game-background-medium-dark.jpg');
}
#site #content .games-list .game.dark {
  background-image: url('https://asarav.github.io/src/images/games/game-background-dark.jpg');
}
#site #content .games-list .game .screenshots {
  margin-bottom: 20px;
}
#site #content .games-list .game .screenshots img {
  height: 300px;
}
#site #content .games-list .game .game-header {
  font-size: 30px;
}
#site #content .games-list .game .play-now {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-image: linear-gradient(#115e57, #11438d);
  padding: 5px 10px 5px 10px;
  float: right;
  margin: 10px 15px 10px 15px;
}
#site #content .games-list .game .explanation {
  background: black;
  margin-left: -14px;
  margin-right: -14px;
  padding-top: 5px;
}
