#site {
  background-image: url("https://asarav.github.io/src/images/wood-background.jpeg");
  font-family: Arial, Helvetica, sans-serif;
  color: #def2f3;
}
#site #navbar {
  background-image: linear-gradient(to right, #11352f, #073119);
  border-color: #073119;
  border-radius: 1px;
  opacity: 0.85;
}
#site #navbar .container-fluid {
  padding-right: 0px;
}
#site #navbar .container-fluid .navbar-header {
  font-family: Brush Script MT, Brush Script Std, cursive;
}
#site #navbar .container-fluid .navbar-header .navbar-brand {
  font-size: 40px;
}
#site #navbar .container-fluid .navbar-header .navbar-brand:hover {
  color: #a8b1da;
  transition: color 0.5s ease-in;
}
#site #navbar .container-fluid .navbar-collapse {
  padding-right: 0px;
}
#site #navbar .container-fluid .navbar-collapse ul {
  float: right;
}
#site #navbar .container-fluid .navbar-collapse ul a:hover {
  color: white;
  background: #32680e;
  border-radius: 10px;
  transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;
}
#site #navbar a {
  color: white;
}
#site #navbar:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#site .home-top {
  background: #054d3d;
  opacity: 0.7;
  height: 400px;
  text-align: center;
  color: white;
  margin-top: -20px;
}
#site .home-top:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#site .home-top .under-construction {
  height: 300px;
  background-image: url('https://ps.w.org/under-construction-page/assets/screenshot-2.png?rev=1840052');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#site .tile-list .tile {
  background-size: 100% 100%;
  opacity: 0.75;
  text-align: center;
  height: 400px;
  margin-top: 1px;
  margin-bottom: 1px;
}
#site .tile-list .tile:hover {
  opacity: 1;
  height: 405px;
  transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
  border: 2px solid black;
}
#site .tile-list .tile .tile-content label {
  font-size: 18px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#site .tile-list .tile.games-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/games.jpg');
}
#site .tile-list .tile.contact-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/contact.jpeg');
}
#site #footer {
  background-image: linear-gradient(to left, #0f6b5c, #085c3c);
  border-color: #0d5f96;
  font-size: 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
