#site {
  background: #f5e3e3;
  font-family: Arial, Helvetica, sans-serif;
  color: #292828;
}
#site #navbar {
  background: #0d7ac4;
  border-color: #1579bb;
}
#site #navbar a {
  color: white;
}
#site #navbar .navbar-collapse {
  padding-right: 0px;
}
#site #navbar .navbar-collapse ul {
  float: right;
}
#site #navbar .navbar-collapse ul a:hover {
  color: #0d7ac4;
  background: white;
  border-radius: 10px;
}
#site #footer {
  background: #0d7ac4;
  border-color: #1579bb;
  font-size: 20px;
  color: white;
}
