#site {
    background-image: url("https://asarav.github.io/src/images/rain-background.jpeg");
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 242, 243);

    #navbar {
        background-image: linear-gradient(to right, rgb(80, 105, 128),rgb(17, 65, 138));
        border-color: rgb(7, 49, 25);
        border-radius: 1px;
        opacity: 0.85;
        transition: opacity 0.5s ease-in;
        .container-fluid {
            padding-right: 0px;
            .navbar-header {
                font-family: Brush Script MT, Brush Script Std, cursive;
                .navbar-brand {
                    font-size: 40px;
                    transition: color 0.5s ease-in;
                    &:hover {
                        color: rgb(168, 177, 218);
                        transition: color 0.5s ease-in;
                    }
                }
            }
            .navbar-collapse {
                padding-right: 0px;
                ul {
                    float: right;
                    transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;                        
                    a:hover {
                        color: white;
                        background: black;
                        border: grey;
                        border-radius: 10px;
                        transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;                        
                    }
                }
            }
        }
        a {
            color: white;
        }

        &:hover {
            opacity: 1.0;
            transition: opacity 0.5s ease-in;
        }
    }

    .page-top {
        background-image: url("https://asarav.github.io/src/images/rain-background-2.jpeg");
        background-size: 100% 100%;
        text-align: center;
        color: rgb(209, 73, 73);
        margin: -20px -15px -1px -15px;
        padding-top: 60px;
        height: 650px;
        opacity: 0.90;
        border-radius: 0px;
        transition: opacity 0.5s ease-in;
        h1 {
            font-weight: 700;
            font-size: 70px;
            font-family: 'Montserrat Black', sans-serif;
            font-stretch: condensed;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
        .glyphicon-chevron-down {
            padding-top: 40px;
            font-size: 45px;
            transition: padding-top 0.3s ease-in;
            top: 40px;
            cursor: pointer;
            &:hover {
                padding-top: 50px;
                transition: padding-top 0.3s ease-in;
            }
        }
        p {
            color: rgb(235, 231, 213);
        }
    }

    .tile-list {
        margin-bottom: 20px;
        .tile {
            background-size: 100% 100%;
            opacity: 0.75;
            text-align: center;
            height: 400px;
            margin-top: 1px;
            margin-bottom: 1px;
            text-decoration: none;
            transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
            &:hover {
                opacity: 1;
                height: 405px;
                transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
                border: 2px solid black;
            }
            .tile-content {
                font-size: 28px;
                color: rgb(255, 255, 255);
                text-shadow: -1.5px 0 rgb(19, 18, 18), 0 1.5px rgb(29, 28, 28), 1.5px 0 rgb(19, 18, 18), 0 -1.5px rgb(29, 28, 28);
                label {
                    margin-top: 5em;
                }
                .tile-explanation {
                    font-size: 16px;
                    position: absolute;
                    bottom: 0;
                }
            }
            &.games-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/games.jpg');
            }
            &.contact-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/contact.jpeg');
            }
            &.about-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/about-me.jpeg');
            }
            &.projects-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/projects.jpg');
            }
            &.music-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/music.png');
            }
            &.consumption-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/consumption.jpg');
            }
        }
    }

    #footer {
        background-image: linear-gradient(to left, rgb(73, 125, 167), rgb(28, 82, 126)) ;
        border-color: rgb(11, 56, 87);
        font-size: 20px;
        color: rgb(255, 255, 255);
        position: fixed;
        width: 100%;
        bottom: 0;
        opacity: 0.95;
    }
}