#site {
    background-image: url("https://asarav.github.io/src/images/wood-background.jpeg");
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 242, 243);

    #navbar {
        background-image: linear-gradient(to right, rgb(17, 53, 47),rgb(7, 49, 25));
        border-color: rgb(7, 49, 25);
        border-radius: 1px;
        opacity: 0.85;
        .container-fluid {
            padding-right: 0px;
            .navbar-header {
                font-family: Brush Script MT, Brush Script Std, cursive;
                .navbar-brand {
                    font-size: 40px;
                    &:hover {
                        color: rgb(168, 177, 218);
                        transition: color 0.5s ease-in;
                    }
                }
            }
            .navbar-collapse {
                padding-right: 0px;
                ul {
                    float: right;
                    a:hover {
                        color: white;
                        background: rgb(50, 104, 14);
                        border-radius: 10px;
                        transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;                        
                    }
                }
            }
        }
        a {
            color: white;
        }

        &:hover {
            opacity: 1.0;
            transition: opacity 0.5s ease-in;
        }
    }

    .home-top {
        background: rgb(5, 77, 61);
        opacity: 0.7;
        height: 400px;
        text-align: center;
        color: white;
        margin-top: -20px;
        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
        .under-construction {
            height: 300px;
            background-image: url('https://ps.w.org/under-construction-page/assets/screenshot-2.png?rev=1840052');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }

    .tile-list {
        .tile {
            background-size: 100% 100%;
            opacity: 0.75;
            text-align: center;
            height: 400px;
            margin-top: 1px;
            margin-bottom: 1px;
            text-decoration: none;
            &:hover {
                opacity: 1;
                height: 405px;
                transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
                border: 2px solid black;
            }
            .tile-content {
                font-size: 20px;
                color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                .tile-explanation {
                    font-size: 14px;
                }
            }
            &.games-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/games.jpg')
            }
            &.contact-tile {
                background-image: url('https://asarav.github.io/src/images/homepage_tiles/contact.jpeg')
            }
        }
    }

    #footer {
        background-image: linear-gradient(to left, rgb(15, 107, 92), rgb(8, 92, 60)) ;
        border-color: rgb(13, 95, 150);
        font-size: 20px;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        opacity: 0.95;
    }
}