#site {
    background: rgb(245, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 40, 40);

    #navbar {
        background: rgb(13, 122, 196);
        border-color: rgb(21, 121, 187);
        a {
            color: white;
        }
    }
}