#site {
  background-image: url("https://asarav.github.io/src/images/rain-background.jpg");
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #def2f3;
}
#site #navbar {
  background-image: linear-gradient(to right, #506980, #11418a);
  border-color: #073119;
  border-radius: 1px;
  opacity: 0.85;
  transition: opacity 0.5s ease-in;
}
#site #navbar .container-fluid {
  padding-right: 0px;
}
#site #navbar .container-fluid .navbar-header {
  font-family: Brush Script MT, Brush Script Std, cursive;
}
#site #navbar .container-fluid .navbar-header .navbar-brand {
  font-size: 40px;
  transition: color 0.5s ease-in;
}
#site #navbar .container-fluid .navbar-header .navbar-brand:hover {
  color: #a8b1da;
  transition: color 0.5s ease-in;
}
#site #navbar .container-fluid .navbar-collapse {
  padding-right: 0px;
}
#site #navbar .container-fluid .navbar-collapse ul {
  float: right;
  transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;
}
#site #navbar .container-fluid .navbar-collapse ul a:hover {
  color: white;
  background: black;
  border: grey;
  border-radius: 10px;
  transition: background 0.4s ease-in, color 0.4s ease-in, border-radius 0.5s ease-in;
}
#site #navbar a {
  color: white;
}
#site #navbar:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#site .page-top {
  background-image: url("https://asarav.github.io/src/images/rain-background-2.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: #d14949;
  margin: -20px -15px -1px -15px;
  padding-top: 60px;
  height: 650px;
  opacity: 0.9;
  border-radius: 0px;
  transition: opacity 0.5s ease-in;
}
#site .page-top h1 {
  font-weight: 700;
  font-size: 70px;
  font-family: 'Montserrat Black', sans-serif;
  font-stretch: condensed;
}
#site .page-top .left {
  text-align: left;
}
#site .page-top .right {
  text-align: right;
}
#site .page-top:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#site .page-top .glyphicon-chevron-down {
  padding-top: 40px;
  font-size: 45px;
  transition: padding-top 0.3s ease-in;
  top: 40px;
  cursor: pointer;
}
#site .page-top .glyphicon-chevron-down:hover {
  padding-top: 50px;
  transition: padding-top 0.3s ease-in;
}
#site .page-top p {
  color: #ebe7d5;
}
#site .tile-list {
  margin-bottom: 20px;
}
#site .tile-list .tile {
  background-size: 100% 100%;
  opacity: 0.75;
  text-align: center;
  height: 400px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
}
#site .tile-list .tile:hover {
  opacity: 1;
  height: 405px;
  transition: opacity 0.5s ease-in-out, height 0.8s ease-in-out, border 0.5s ease-in-out;
  border: 2px solid black;
}
#site .tile-list .tile .tile-content {
  font-size: 28px;
  color: #ffffff;
  text-shadow: -1.5px 0 #131212, 0 1.5px #1d1c1c, 1.5px 0 #131212, 0 -1.5px #1d1c1c;
}
#site .tile-list .tile .tile-content label {
  margin-top: 5em;
}
#site .tile-list .tile .tile-content .tile-explanation {
  font-size: 16px;
  position: absolute;
  bottom: 0;
}
#site .tile-list .tile.games-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/games.jpg');
}
#site .tile-list .tile.contact-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/contact.jpg');
}
#site .tile-list .tile.about-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/about-me.jpg');
}
#site .tile-list .tile.projects-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/projects.jpg');
}
#site .tile-list .tile.music-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/music.png');
}
#site .tile-list .tile.consumption-tile {
  background-image: url('https://asarav.github.io/src/images/homepage_tiles/consumption.jpg');
}
#site #footer {
  background-image: linear-gradient(to left, #497da7, #1c527e);
  border-color: #0b3857;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  opacity: 0.95;
}
#site #footer .contact {
  text-align: right;
}
