#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/music/music-top.jpg');
            height: 350px;
            .music-preamble {

            }
            .music-explanation {
                p {
                    color: darkred;
                }
            }
        }
        .song {
            border: 1px solid rgb(231, 205, 205);
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px 5px 5px 5px;
            audio {
                width: 100%;
                border: 1px solid gray;
                border-radius: 20px;
            }
            .title {
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
}