#site {
  background: #1e1e1f;
}
#site #content {
  color: white;
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/music/music-top.jpg');
  height: 350px;
}
#site #content .jumbotron.page-top .music-explanation p {
  color: darkred;
}
#site #content .song {
  border: 1px solid #e7cdcd;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}
#site #content .song audio {
  width: 100%;
  border: 1px solid gray;
  border-radius: 20px;
}
#site #content .song .title {
  font-weight: bold;
  font-size: 18px;
}
