#site {
  background: #1e1e1f;
}
#site #content {
  color: white;
  margin-bottom: 30px;
}
#site #content .jumbotron.page-top {
  background-image: url('https://asarav.github.io/src/images/projects/projects-top.jpg');
  height: 350px;
}
#site #content section {
  margin-bottom: 30px;
}
#site #content section table,
#site #content section th,
#site #content section td {
  border: 2px solid white;
}
#site #content section table {
  width: 100%;
}
#site #content section table th {
  padding-right: 5px;
  padding-left: 5px;
}
#site #content section table td {
  text-align: center;
}
#site #content section .minimized-image-height {
  max-height: 250px;
}
