#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/projects/projects-top.jpg');
            height: 350px;
            .projects-preamble {

            }
            .projects-explanation {
    
            }
        }
        section {
            table, th, td {
                border: 2px solid white;
            }
        }
    }
}