---
---

// ============================================================================
// ABOUT-ME.SCSS - About Me Page Styles
// ============================================================================
// Page-specific overrides for src/html/about-me.html
// Loaded via the 'style' front matter variable
// ============================================================================

#site {
    background: rgb(30, 30, 31);
    #content {
        section {
            font-size: 18px;
            .heading {
                font-size: 24px;
                color: orange;
                a {
                    color: orange;
                }
            }
            p {
                margin-left: 15px;
            }
            .rotate180 {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            margin-bottom: 25px;
            .language-list{
                margin-left: 15px;
            }
        }
        hr {
            border-color: #1e334e;
        }
    }
}