---
---

#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/books/books-top.jpg');
            height: 350px;
            .books-preamble {
    
            }
            .books-explanation {
                p {
                    color: rgb(253, 235, 235);
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }
        }
        section {
            margin-top: 25px;
            padding-top: 15px;
            font-size: 18px;
            border: 1px solid rgb(0, 123, 255);
            border-radius: 1px;
            .heading {
                font-size: 24px;
                color: rgb(0, 123, 255);
            }
            p {
                margin-left: 15px;
            }
            .rotate180 {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            margin-bottom: 25px;
            .images {
                margin-bottom: 25px;
                img.cover {
                    max-width: 400px;
                    height: auto;
                }
            }
            .book-explanation {
                color: orange;
                margin-left: 25px;
                margin-right: 25px;
                border: 1px solid orange;
                border-radius: 3px;
                margin-bottom: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .book-personal {
                color: white;
                margin-left: 25px;
                margin-right: 25px;
                border: 1px solid white;
                border-radius: 3px;
                margin-bottom: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .book-links {
                color: rgb(0, 170, 255);
                margin-left: 25px;
                margin-right: 25px;
                border: 1px solid rgb(0, 170, 255);
                border-radius: 3px;
                margin-bottom: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            &#substack {
                .substack {
                    @media only screen and (max-width: 540px) {
                        width: 320px
                    }
                    @media screen and (min-width: 540px) {
                        width: 480px
                    }
                }
            }
        }
        hr {
            border-color: #1e334e;
        }
    }
}