---
---

#site {
    background-image: linear-gradient(to right, rgb(30, 30, 31), transparent);
    background-color: rgb(17, 30, 56);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/media/media-top.jpg');
            height: 350px;
            .consumption-preamble {

            }
            .consumption-explanation {
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
        .consumption-list.full-res {
            @media only screen and (max-width: 768px) {
                display: none;
            }
            .item {
                border: 4px solid rgb(6, 56, 112);
                padding: 5px 5px 5px 5px;
                margin-top: 20px;
                margin-bottom: 20px;
                .date {
                    font-size: 20px;
                    margin-top: 85px;
                }
                .content {
                    border-right: 2px solid white;
                    border-left: 2px solid white;
                    height: 290px;
                    @media only screen and (max-width: 1100px) {
                        height: 355px;
                    }
                    @media only screen and (max-width: 1000px) {
                        height: 450px;
                    }
                    @media only screen and (max-width: 900px) {
                        height: 525px;
                    }
                    @media only screen and (max-width: 800px) {
                        height: 600px;
                    }
                    .header {
                        a {
                            font-size: 22px;
                        }
                        sub {
                            margin-left: 15px;
                        }
                    }
                    .explanation {
                        font-size: 14px;
                    }
                }
                .image {
                    img {
                        max-height: 217px;
                        max-width: 190px;
                        @media only screen and (max-width: 1920px) {
                            margin-left: 17%;
                        }
                        @media only screen and (max-width: 1600px) {
                            margin-left: 20%;
                        }
                        @media only screen and (max-width: 1100px) {
                            margin-left: 38%;
                        }
                    }
                }

                hr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border-top: 1px solid rgb(112, 158, 189);
                }
            }

            .item.movie {
                hr {
                    border-top: 1px solid rgb(28, 58, 139);
                }
            }

            .item.game {
                hr {
                    border-top: 1px solid rgb(5, 95, 5);
                }
            }

            .item.video {
                .image {
                  padding-top: 2px;
                }

                hr {
                        border-top: 1px solid rgb(22, 78, 85);
                    }
            }

            .item.book {
                hr {
                        border-top: 1px solid rgb(107, 15, 99);
                    }
            }
        }

        .consumption-list.mobile-res {
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
            }
            .item {
                border: 4px solid rgb(6, 56, 112);
                margin-top: 5px;
                .image {
                    img {
                        max-height: 280px;
                        margin-top: 10px;
                        margin-bottom: 15px;
                    }
                }
                .date {
                    font-size: 20px;
                    margin-top: 10px;
                    color: rgb(255, 234, 234);
                }
                .header {
                    font-size: 23px;
                }
                .explanation {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                hr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border-top: 1px solid rgb(112, 158, 189);
                }
            }
        }
    }
}