---
---

#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/contact/contact-top.jpg');
            height: 350px;
            .contact-preamble {

            }
            .contact-explanation {
    
            }
        }
        .bright {
            background: rgb(18, 40, 65);
        }
        .contact-section {
            height: 100px;
            font-size: 30px;
            a {
                margin-top: 30px;
            }
            @media only screen and (max-width: 768px) {
                height: 80px;
                font-size: 20px;
            }

            @media only screen and (max-width: 600px) {
                height: 80px;
                font-size: 15px;
            }
        }
    }
}