---
---

// ============================================================================
// GAMES.SCSS - Games Page Styles
// ============================================================================
// Page-specific overrides for src/html/games.html
// Loaded via the 'style' front matter variable
// ============================================================================

#site {
    background-image: linear-gradient(to right, rgb(30, 30, 31), rgb(43, 43, 44), rgb(8, 2, 41) );
    #content {
        .jumbotron.page-top {
            background-image: url('/src/images/games/games-top.jpg');
            height: 350px;
            .games-preamble {

            }
            .games-explanation {
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
        .games-list {
            .game {
                border: solid 5px black;
                border-radius: 2px;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: -15px;
                margin-right: -15px;
                background-size: 100% 100%;
                &.light {
                    background-image: url('/src/images/games/game-background-light.jpg');
                }
                &.medium-light {
                    background-image: url('/src/images/games/game-background-medium-light.jpg');
                }
                &.medium-dark {
                    background-image: url('/src/images/games/game-background-medium-dark.jpg');
                }
                &.dark {
                    background-image: url('/src/images/games/game-background-dark.jpg');
                }
                .screenshots {
                    margin-bottom: 20px;
                    img {
                        height: 300px;
                        margin-top: 3px;
                        margin-bottom: 3px;
                    }
                }
                .game-header {
                    font-size: 30px;
                }
                .play-now {
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                    background-image: linear-gradient(rgb(17, 94, 87), rgb(17, 67, 141));
                    padding: 5px 10px 5px 10px;
                    float: right;
                    margin: 10px 15px 10px 15px;
                }
                .explanation {
                    background: black;
                    margin-left: -14px;
                    margin-right: -14px;
                    padding-top: 5px;
                }
            }
        }
    }
}