---
---

#site {
    background-image: linear-gradient(to right, rgb(30, 30, 31), transparent);
    background-color: rgb(17, 30, 56);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/log/log.jpg');
            height: 350px;
        }
    }
}