---
---

// ============================================================================
// LOG.SCSS - Status Log Page Styles
// ============================================================================
// Page-specific overrides for src/html/log.html
// Loaded via the 'style' front matter variable
// ============================================================================

#site {
    background-image: linear-gradient(to right, rgb(30, 30, 31), transparent);
    background-color: rgb(17, 30, 56);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('/src/images/log/log.jpg');
            height: 350px;
            margin-bottom: 10px;
            .log-explanation {
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
        .log {
            section {
                margin-bottom: 25px;
                .date {
                    font-size: 22px;
                    color: rgb(134, 201, 218);
                    font-weight: bold;
                }
                .explanation {
                    font-size: 17px;
                }
            }
        }
    }
}