---
---

#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        .jumbotron.page-top {
            background-image: url('https://asarav.github.io/src/images/music/music-top.jpg');
            height: 350px;
            .music-preamble {

            }
            .music-explanation {
                p {
                    color: rgb(254, 233, 233);
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;                }
            }
        }
        .song {
            border: 1px solid rgb(231, 205, 205);
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px 5px 5px 5px;
            audio {
                width: 100%;
                @-moz-document url-prefix() {
                    border: 1px solid gray;
                    border-radius: 20px;
                }
            }
            .title {
                font-weight: bold;
                font-size: 18px;
            }
        }
        .song.full-res {
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
        .song.mobile-res {
            display: none;
            @media only screen and (max-width: 768px) {
                display: block;
            }
        }
    }
}