---
---

// ============================================================================
// PROJECTS.SCSS - Projects Page Styles
// ============================================================================
// Page-specific overrides for src/html/projects.html
// Loaded via the 'style' front matter variable
// ============================================================================

#site {
    background: rgb(30, 30, 31);
    #content {
        color: white;
        margin-bottom: 30px;
        .jumbotron.page-top {
            background-image: url('/src/images/projects/projects-top.jpg');
            height: 350px;
            .projects-preamble {

            }
            .projects-explanation {
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
        section {
            margin-bottom: 30px;
            table, th, td {
                border: 2px solid white;
            }
            table {
                width: 100%;
                th {
                    padding-right: 5px;
                    padding-left: 5px;
                }
                td {
                    text-align: center;
                }
            }

            .minimized-image-height {
                max-height: 250px;
            }

            .medium-image-height {
                max-height: 350px;
            }

            h1 {
                font-family: 'Montserrat Black', sans-serif;
                text-shadow: 0 0 1px darkblue, 0 0 1px darkblue, 0 0 1px darkblue, 0 0 1px darkblue;
            }
        }
    }
}