<!DOCTYPE html>
	<html>
        <head>
            <title>asarav~ {{ page.title }}</title>
            <meta name="description" content="Avinash Saravanan. (2023) Novelist. (2021) Scientist/Researcher. (2020) Amateur Quantitative Trader. (2016) Software Engineer. (2016) Novice Dancer. (2013) Globalization Enthusiast. (2012) Hobby Electric Guitarist/Shredder. (2010) Film Lover. This site is a continuously updated documentation of my progress as an individual.">
            <meta name="author" content="Avinash Saravanan">
            <meta name="keywords" content="Avinash,Saravanan,Software,Engineer,Scientist,Novelist,Guitar,Games,Music,Dance,AI,Badass,asarav,Developer,Programmer">
            <meta name="google-site-verification" content="pgJJ8njw6GLljKN4caY8Xtz5zoMPTyBsdpK6CMRhNBM" />
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon" href="{{ 'favicon.png' | relative_url }}">
            <!--Scripts -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
            <!--Stylesheets -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
            <link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}">
            {% if page.style %}
                <link rel="stylesheet" type="text/css" href="{{ page.style | relative_url }}">
            {% endif %}
        </head>
        <body id="site" class="site">
            {% if page.nav %}
                {% include {{ page.nav }} %}
            {% endif %}
            <div id="content" class="container-fluid">
                {{ content }}
            </div>
            {% if page.footer %}
                {% include {{ page.footer }} %}
            {% endif %}
            {% if page.script %}
                <script type="text/javascript" src="{{ page.script | relative_url }}"></script>
            {% endif %}
        </body>
	</html>